.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -2rem;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: #c6e786;
}
